<!DOCTYPE html>
<head>
    <title>Services</title>

    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="@Url.Content("/Content/AirportServices.css")" />

</head>
<body>
    <br />
    <div class="cards">
        <div class="card6">
            <img src="https://www.konoike.net/en/kcms/wp-content/uploads/2021/03/Passenger-handling.jpg" class="card-image" />
            <div class="card__content">
                Handling Passengers
            </div>
            <div class="card__info">
                <div>
                    <p>
                        Support passenger process and airport operation at four domestic airports in Japan
                    </p>
                </div>
            </div>
        </div>
        
        
        <div class="card1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYTwAn1af_NwyhLqKaX8-bM17RYxdPW2qGbw&usqp=CAU" class="card-image"/>         
                 <div class="card__content">
                Passenger Information, Baggage Wrapping and Delivery,Wifi Rental Services.
            </div>
            <div class="card__info">
                <div>
                    <p>
                        Wide-ranging services inside/outside terminals, from passenger information to baggage wrapping/delivery services, and etiquette training for businesses
                    </p>
                </div>
            </div>
        </div>


        <div class="card2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdOPMk7cwyX0r6_wSrMhhNJ1YBsXxk5dwNzg&usqp=CAU" class="card-image" />
            <div class="card__content">
                Air Cargo Handling
            </div>
            <div class="card__info">
                <div>
                    <p>
                        Handling international air cargo quickly, carefully, accurately
                    </p>
                </div>
            </div>
        </div>


        <div class="card3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUiysibKet7itFX22_eVdrl8aty2AoGrM--A&usqp=CAU" class="card-image" />
            <div class="card__content">
                Technical Training
            </div>
            <div class="card__info">
                <div>
                    <p>
                        Training programs are provided at the home-base facility
                    </p>
                </div>
            </div>
        </div>


        <div class="card4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz1ZvUXgIDTxzJFvP33FL6SZxzPCWra8DtYoJKNv5nJMPTwAc36dPIiKUHH67f_r8m89c&usqp=CAU" class="card-image" />
            <div class="card__content">
                Other Services Outside the Airport
            </div>
            <div class="card__info">
                <div>
                    <p>
                        We handle requests for services provided outside the airport
                    </p>
                </div>
            </div>
        </div>


        <div class="card5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPfvJ18iNhPJe_YbIRhv921_9TUVvcv55Q-g&usqp=CAU" class="card-image" />
            <div class="card__content">
                Ground Handling(Baggage and Cargo Loading and Unloading, Aircraft Marshaling,Aircraft Cleanup Services)
            </div>
            <div class="card__info">
                <div>
                    @*<p>
                        Providing high-quality services that meet airline’s strict standards
                    </p>*@
                </div>
            </div>
        </div>

    </div>
</body>