body {
    background-color: cadetblue;
}

.form-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 600px;
    box-sizing: border-box;
    background: white;
    padding: 40px 40px;
}

.heading {
    background: pink;
}
