body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd1dqkfC28ywuHLFC0bt8LaoS35OleEmDH6Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
th{
    background-color:antiquewhite;
    
}
td{
    background-color:azure;
    
}
.control-label{
    color:white;
}
footer{
    color:white;
}